@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer utilities {
  /* ===== UTILITIES */
  .contain {
    @apply drop-shadow-md border-[1px] rounded-md p-2 w-fit border-gray-300;
  }
  .card-border{
    @apply drop-shadow-md border-[1px] rounded-md mx-2  w-fit border-gray-300
  }
  .img{
    @apply rounded-md 
  }
  .custom-gradient{
    @apply bg-gradient-to-b from-[#dc2626] to-red-700 
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




@font-face {
  font-family: 'solaiman';
  src: url('/fonts/SolaimanLipi.ttf') format('truetype');
  font-weight: normal ;
  font-style: normal;
}
body {
  font-family: 'solaiman', sans-serif;
  font-size: 18px; 
}

